<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<aop:aspectj-autoproxy />
	<context:annotation-config />
	
	<!-- 获取zk当中的节点配置,和ext.properties中的配置
		如果ext.properties中读取的配置和zk当中的配置相同, 则覆盖 -->
	<bean class="com.zhukai.common.zk.PropertiesConfig">
		<property name="locations">
			<list>
				<value>classpath:zk.properties</value>
			</list>
		</property>
		<!-- 重写zookeeper中的配置 -->
		<property name="overrideLocaltions">
			<list>
				<value>classpath:ext.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- i18n资源配置文件读取
		配置文件的命名需要带上语言种类的即：文件名_语言种类.properties 
		例如:messages_zh.properties和messages_en.properties就表示中文和英语
		通过MessageSource.getMessage(String arg0, Object[] arg1, Locale arg2)获取配置的值 -->
	<!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>i18n/messages</value>
            </list>
        </property>
    </bean> -->
	
	<!-- 使用注解标注组件和注入 -->
	<context:component-scan base-package="com.zhukai" />
	
</beans>